{% extends "nase.html" %}
{% load static %}

{% block title %}Página de Detalhes da Notícia{% endblock %}

{% block content %}
<div>
    <h1>{{ new.title }}</h1>
    <p class="news-content">{{ new.content }}</p>

    {% for category in categories.all %}
    <span class="news-categories">{{ category.name }}</span>
    {% endfor %}

    <span class="news-author">{{ new.author }}</span>
    <img src="{% static new.image.url %}">
    <span>{{ new.created_at|date:"d/m/Y" }}</span>
</div>
{% endblock %}
